body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: rgb(216, 174, 97);
  text-align: center;
}
* {
  box-sizing: border-box;
}
.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: left;
}

.box {
  border: 1px black;
  width: 500px;
  height: 600px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.header h2 {
  text-align: center;
}
img {
  width: 400px;
  height: 260px;
  padding-left: 60px;
}
